<%layout('layouts/template.ejs')%>
    <h1 class="listing-heading">Listing page</h1>
<br>
<div class="index">
  <% for(let item of items){%>
     <a href="/listing/<%=item._id%>">
<div class="card" style="width: 18rem;">
  <img src="<%=item.image.url%>" class="card-img-top" alt="listing-img">
   <div class="card-img-overlay"></div>
  <div class="card-body">
    <h5 class="card-title"><b><%=item.title%></b></h5>
    <p class="card-text">&#8360;<%=item.price.toLocaleString('en-IN')%></p>
  </div>
</div>
 </a>
 <%}%>
 </div>

  
