<%layout('layouts/template.ejs')%>
    <h2 class='listing-heading'>New Listing</h2>
    <div class="form-wrapper">
    <form method="post" class="needs-validation" action="/listing" novalidate enctype="multipart/form-data"> 
        <div class="mb-3">  
        <label for="title" class='form-label'>Title : </label>
        <input type="text" name="docu[title]" id="title" placeholder="Enter Title"  class='form-control' required>
        <div class="invalid-feedback">Title is required</div>
        </div>
        <div class="mb-3" >
        <label for="des" class='form-label'>Description : </label>
        <textarea id="des" name="docu[description]" placeholder="Write Description"  class='form-control'></textarea>
       </div>
       <div class="mb-3">
        <label for='img' class='form-label'>Upload Image : </label>
        <input type="file" id="img" name="docu[image]" class="form-control" multiple required>
        <div class="invalid-feedback">Please Upload Images</div>
        </div>
         <div class="mb-3">
       <select  class="form-select form-control" name="docu[category]" required>
        <option selected disabled>Select Category</option>
        <option value="rooms">Rooms</option>
        <option value="iconic_city">Iconic City</option>
        <option value="mountainous">Mountainous</option>
        <option value="castle">Castle</option>
        <option value="pool">Pool</option>
        <option value="camping">Camping</option>
        <option value="farm">Farm</option>
        <option value="arctic">Arctic</option>
        <option value="domes">Dome</option>
        <option value="boats">Boat</option>
       </select>
        <div class="invalid-feedback">Please Choose a Category</div>
        </div>

        <div class="mb-3">
        <label for='location' class='form-label'>City : </label>
        <input type="text" id="location" name="docu[location]" placeholder="Enter Location"  class='form-control' required>
           <div class="invalid-feedback">Please enter a valid City Name</div>
       </div>
        <div class="d-md-flex justify-content-evenly">
       <div class="mb-3">
        <label for="cntry" class='form-label'>Country : </label>
        <input type="text" id="cntry" name="docu[country]" placeholder="Enter Country"  class='form-control' required pattern="^[A-Za-z\s]{2,}$">
           <div class="invalid-feedback">Please enter a valid country name</div>
       </div>
       <div class="mb-3">
        <label for="price" class='form-label'>Price : </label>
        <input type="number" id="price" name="docu[price]" placeholder="0"  class='form-control' min='1' required>
        <div class="invalid-feedback">Please enter a valid price</div>
      </div>
      </div>
        <button class="new-submit" type="submit">Post</button>
    </form>
</div>