*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
}
main{
    flex:1;
}
.navbar{
    height:4rem;
    background-color: rgb(236, 233, 233) !important;
    color:black;
}
.fa-solid {
    color:rgb(79, 103, 174);
    font-size:2rem;
}
.foot{
    height:5rem;
    background-color: rgba(144, 141, 141, 0.635);
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
}
.f-socials-link i{
      font-size: 1.2rem;
      cursor: pointer;
}
.f-brand-name{
    height:1rem;
    cursor: pointer;
}
.f-a a{
    text-decoration:none;
}
.f-a a:hover{
     text-decoration:underline;
}
.listing-heading{
    margin-left:1rem !important;
}
.index{
    display:grid;
    grid-template-columns: 1fr;
    gap:1rem;
    padding-bottom: 1rem;
    justify-items: center;
}
.index a{
text-decoration: none;
}
.card-body{
    padding:0;
}
.card-img-top{
    height:18rem;
    width:100%;
    object-fit:cover;
    border-radius:8px;
    border: none;
}
.card-img-overlay{
    opacity:0;
}
.card:hover .card-img-overlay{
    opacity: 0.2;
    background-color: white;
}
.form-wrapper{
    padding-left: 1rem;
    margin-bottom:1rem;
    width:55%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 3rem;
}
.new-submit{
    background-color:rgba(231, 114, 114, 0.82);
   cursor:pointer;
   border:1px solid rgba(231, 114, 114, 0.82);
   border-radius:10px;
   width: 55%;
   display: flex;
   margin: 0.5rem auto;
  justify-content:center;
  font-size: 1rem; 
}
.new-submit:hover{
    background-color: rgb(248, 204, 204);
}
.show-card{
    margin-left:auto;
    margin-right:auto;
    width:95%;
    height:45% !important;
    margin-top:1rem;
    margin-bottom:1rem;
}
.show-btn{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: space-between;
    width:8rem;
    margin-bottom:1rem;
}
.show-btn a{
    text-decoration: none;
    color:white;
}
.show-edit{
    background-color:rgba(231, 114, 114, 0.82);
   cursor:pointer;
   border:1px solid rgba(231, 114, 114, 0.82);
   border-radius:5px;
     width:55px;
 
}
.show-edit:hover{
    background-color: rgb(248, 204, 204);
    color:black;
}
.show-del{
    background-color:rgb(23, 18, 18);
   cursor:pointer;
   border:1px solid rgba(16, 14, 14, 0.82);
   border-radius:5px;
   color:white;
   
}
.show-del:hover{
    background-color: rgb(95, 91, 91);
}
.edit-section{
    width:65%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1rem;
}
.edit-btn{
    background-color:rgba(231, 114, 114, 0.82);
   cursor:pointer;
   border:1px solid rgba(231, 114, 114, 0.82);
   border-radius:5px;
   width:48px;
   margin-left:auto;
   display:block;
}
.edit-heading{
    margin-left:1rem;
}
.error-box{
    background-color:rgb(192, 88, 88);
    color:text;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding-top:1.5rem;
    padding-bottom:1.5rem;
    width:75%;
    margin-top:7rem;
}
.edit-btn-review{
   background-color:rgba(22, 113, 231, 0.632);
   cursor:pointer;
   border:none;
   border-radius:8px;
   width:150px;
   height: 60px;
   position:relative;
}
.edit-btn-review:hover{
color:rgba(22, 113, 231, 0.632);
background-color: white;
border:1px solid rgba(22, 113, 231, 0.632); ;
}

.show-form{
    margin-bottom:2rem;
    margin-left:2rem;
    margin-top:8rem;
}
.rating-form{
    margin-top:4rem;
    width:70%;
    margin-left:auto;
    margin-right:auto;
}
.review-box{
    width:80%;
    display:grid;
    grid-template-columns:1fr;
    gap:1rem;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1.5rem;
    justify-items: center;
    align-items: start;
}
.alert{
    margin-top:0.5rem;
}
.authentic-page{
    margin-top:3rem;
    margin-bottom:0.5rem;
}
.signup-link{
    color:black;
    text-decoration:none;
}
.signup-link:hover{
    text-decoration:underline;
}

.nav-authenticate a{
    color:black;
    text-decoration:none;
}
.nav-authenticate a:hover{
    text-decoration:underline;
}

#map{
    height:300px;
   margin:5rem auto;
}
.navbar-nav{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.no_listing{
    text-align: center;
    margin-top:8rem;
}
   #filters{
    width:100%;
    margin-top:1rem;
    display:flex;
    align-items: center;
    overflow-x: auto;
    scrollbar-width:none;
    padding-right:1rem;
   }
   .filter{
    margin-left:2rem;
    text-align: center;
    cursor:pointer;
   }
 .filter a{
  text-decoration:none;
  color:black;
 }
   .fa-solid{
    opacity:0.7;
    font-size: 1.3rem;
   }
   .filter p{
    font-size: 0.7rem;
   }
   .filter:hover .fa-solid{
    opacity: 1;
   }
   .filter:hover p{
    color: rgb(205, 81, 81);
   }
   .switch-border{
    border: 1px solid rgb(205, 81, 81);
    height:2.7rem;
    border-radius:1rem;
    padding: 0.5rem;
   }
   #switchCheckChecked{
    cursor: pointer;
   }
   #switchCheckChecked:focus{
    box-shadow: 0 0 0 0.15rem rgb(227, 160, 160) !important;
    background-color:rgb(227, 160, 160) ;
    border: 1px solid red;
   }
   .tax{
    display: none;
   }
   .visible{
    display:inline;
   }
.search-btn{
  height:2.5rem;
  width:2.5rem;
  border-radius:50% !important;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  background-color: white;
  border: none;
  transition: all 3.0s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.search-btn i{
    color: rgb(227, 160, 160);
    font-size: 1.5rem;
      display: flex;
   justify-content: flex-start;
}
.search-btn:hover{
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.4); /* Inset shadow */
  transform: translateY(1px);
}
.search-box{
  border-radius: 0.7rem !important;
  border:1px solid rgb(205, 81, 81) !important;
  width:10rem !important;
  height: 2.5rem !important;
}
.search-box::placeholder{
    font-size:0.9rem;
}
.search-btn:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
  transform: translateY(2px);
}
.search-form{
    display: flex;
    align-items: center;
}
.search-box:focus{
   box-shadow: 0 0 0 0.25rem rgb(227, 160, 160) !important;
   border: none !important;
}
#logo{
    color:red;
    font-size:3rem;
}
.all_reviews{
    margin-left:4rem;
    margin-bottom: 3rem;
}
h1,h2,h3,h4,h5,h6{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
body,p,span,li,a{
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.insta_a{
   color: rgb(236, 69, 97);
}
.insta_a:hover{
    color:rgb(222, 28, 60);
}
.review_star{
    transform: scale(0.5);
}
.review_card{
    border: none !important;
    background-color: rgb(250, 245, 245) !important;
    padding: 1rem !important;
}
.review_delete_btn{
     background-color:rgb(23, 18, 18) !important;
   cursor:pointer !important;
   border:1px solid rgba(16, 14, 14, 0.82) !important;
   border-radius:5px !important;
   color:white !important;
}
header{
     position: sticky !important;
    z-index:1020 !important;
    top:0 !important;
}
.more_reviews{
    border: none;
    padding: 1rem;
    background-color: rgb(250, 245, 245);
    transition: border-radius 0.3s ease;
}
.more_reviews:hover{
    border-radius: 2rem;
}
.hide_elements{
    display:none !important;
}
.more_reviews{
    margin-left: 9rem;
    margin-top:2.5rem;
}
.container-fluid{
    display:flex;
    flex-wrap: nowrap !important;
    width: 100% !important;
    justify-content:space-between !important;
    align-items: center !important;
    padding:0 0.1rem !important;
  overflow-x:hidden;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus,.navbar-toggler:active{
    outline: none !important;
    border: none !important;
    box-shadow:none !important;
}
#navbarNav .navbar-menu-block{
    display:flex;
    flex-direction:column;
    background-color:white;
    color:black;
    gap:0.5rem;
    padding:1rem;
    box-sizing: content-box;
    position:absolute;
    top:4rem;
    right: 0px;
}
.nav-authenticate1{
      display:flex;
      flex-direction: column;
     justify-content: space-around;
     width:100%;
     height: 80px;
}
.h-nav-1{
    display: none !important;
}
/*Responsiveness for tablets*/
@media (min-width:768px){
    .index{
grid-template-columns: 1fr 1fr ;
    }
    .edit-flex{
        display:flex;
        justify-content:space-between;
    }
    .edit-section{
        width:55%;
    }
    #map{
    height:350px;
}
.review-box{
    grid-template-columns:1fr 1fr;
}
 .search-form{
    margin-left: 7rem;
    padding-right: 5rem !important;
}   

.search-btn{
  height:2.8rem;
  width:2.8rem;
}
.search-btn i{
    font-size: 1.7rem;
}

.search-box{
  border-radius: 0.7rem !important;
  border:1px solid rgb(205, 81, 81) !important;
  width:20rem !important;
  height: 2.8rem !important;
}
#logo{
    font-size:3.5rem;
}
.navbar-toggler{
    font-size: 2rem !important;
}
}


/*Responsiveness for laptops */
@media (min-width:992px){
        .index{
grid-template-columns: 1fr 1fr 1fr;
    }
      .edit-flex{
        display:flex;
        justify-content:space-between;
    }
      .edit-section{
        width:55%;
    }
    .new-submit{
        font-size: 1.5rem;
    }
    #map{
    height:400px;
}
.review-box{
    grid-template-columns:1fr 1fr;
}
 .search-form{
    margin-left: 13rem;
    padding-right: 5rem !important;
}   
.search-btn{
  height:3rem;
  width:3rem;
  border-radius:50% !important;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: white;
  border: none;
  transition: all 3.0s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.search-btn i{
    color: rgb(227, 160, 160);
    font-size: 1.5rem;
   display: flex;
   justify-content: flex-end;
}
.search-btn:hover{
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.4); /* Inset shadow */
  transform: translateY(1px);
}
.search-box{
  border-radius: 0.7rem !important;
  border:1px solid rgb(205, 81, 81) !important;
  width:20rem !important;
}
#navbarNav .navbar-menu-block{
    display:flex;
    flex-direction:column;
    background-color:white;
    color:black;
    gap:0.5rem;
    padding:1rem;
    box-sizing: content-box;
    position:absolute;
    top:4rem;
    right: 0px;
}
#navbarNav .navbar-menu-block{
    display: none;
}
.h-nav-1{
    display: block !important;
}
.nav-1{
    display: flex;
    gap:1rem;
    align-items: center;
}
.nav-authenticate{
     margin-right:1rem;
     width:8rem;
     display:flex;
     justify-content: space-between;
     align-items: center;
}
.nav-authenticate1{
      display:flex;
      flex-direction:row;
     justify-content: space-between;
     align-items: center; 
}

#navbarNav .navbar-menu-block{
    display: none;
}
.search-box{
  width:18rem !important;
}
 .search-form{
    margin-left:3rem;

}   


}

/*Responsiveness for computers and larger screens*/
@media (min-width:1200px){
        .index{
grid-template-columns: 1fr 1fr 1fr 1fr;
    }
      .edit-flex{
        display:flex;
        justify-content:space-between;
    }
      .edit-section{
        width:55%;
    }
    .new-submit {
        font-size: 2rem;
    }
    #map{
    height:450px;
}
.review-box{
    grid-template-columns:1fr 1fr;
}
#navbarNav .navbar-menu-block{
    display: none;
}
 .search-form{
    margin-left:13rem;
}   
}