<!--For Erro Alert-->
<% if(sucMsg && sucMsg.length){ %>
    <div class="alert alert-success alert-dismissible fade show mx-auto col-10 col-sm-10 col-md-8 col-lg-6 col-xl-6" role="alert">
<%=sucMsg%>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<%}%>

<!--For Erro Alert-->
<%if(errMsg && errMsg.length){%>
    <div class="alert alert-success alert-dismissible fade show mx-auto col-10 col-sm-10 col-md-8 col-lg-6 col-xl-6" role="alert">
<%=errMsg%>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<%}%>