  <div class="foot">
    <div class="f-socials-link">
<i class="fa-brands fa-square-facebook"></i>
<i class="fa-brands fa-square-instagram"></i>
<i class="fa-brands fa-square-linkedin"></i>
    </div>
    <div class="f-brand-name">
        <p>&copy; WanderLust Private Limited</p>
    </div>
    <div class="f-a">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div>