<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top">
  <div class="container-fluid">
  <i class="fa-solid fa-compass" id="logo"></i>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/listing">Explore</a>
        </li>

  <li class="nav-item">
          <form method="get" class="d-flex search-form" role="search" action="/listing">
  <input class="form-control me-2 search-box" type="search" placeholder="Search Destination" aria-label="Search" name="destination">
  <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>
        </li>

        <li class="nav-item">
         <a class="nav-link" href="/listing/new">Airbnb Your home</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="nav-authenticate">
  <%  if(!currUser){%>
      <div class="nav-authenticate1">
    <a href="/user/signup"><b>Sign up</b></a>
    <a href="/user/login"><b>Log in</b></a>
     </div>
   <% }%>
 <%if(currUser){%>
    <div>
    <a href="/user/logout">Log out</a>
    </div>
<% }%>
  </div>
  
</nav>
